{
  "parser": "babel-eslint",
  "plugins": ["prettier", "jest", "react-hooks", "emotion"],
  "extends": [
    "eslint:recommended",
    "standard",
    "standard-react",
    "prettier",
    "plugin:jest/recommended",
    "eslint-config-prettier"
  ],
  "rules": {
    "react/prop-types": "off",
    "no-console": "off",
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/jsx-indent": "off",
    "react/jsx-handler-names": "off",
    "react/jsx-curly-newline": "off",
    "react/jsx-fragments": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "emotion/jsx-import": "error",
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "React|jsx|css|^_",
        "argsIgnorePattern": "^_",
        "caughtErrors": "none"
      }
    ],
    "eqeqeq": [
      "error",
      "always",
      {
        "null": "never"
      }
    ]
  },
  "env": {
    "browser": true
  },
  "globals": {
    "apiMode": "readonly"
  }
}
